<mat-card-content>
  <div class="flex-row">
    <div class="flex-cell-padding">
      <mat-form-field>
        <input
          matInput
          placeholder="Phone number"
          mask="(000) 000-0000"
          [formControl]="form1"
          prefix="+5 "
          [(ngModel)]="showMaskModel"
          [showOnFocus]="true"
        />
        <mat-hint><b>Mask: </b>+5 (000) 000 0000</mat-hint>
      </mat-form-field>
    </div>
    <div class="flex-cell">
      <p><b>FormControl:</b> {{ form1.value ? form1.value : 'Empty' }}</p>
      <p><b>NgModel:</b> {{ showMaskModel ? showMaskModel : 'Empty' }}</p>
    </div>
  </div>
</mat-card-content>